<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xana.acg.mikomiko">
    <!-- 网络相关权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- 存储读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/bg_error"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@drawable/bg_error"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.TransStatusBar"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".actis.local.DownloadActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".actis.drawer.IActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actis.ImageShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actis.VideoMallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actis.GameSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actis.AnimeSearchActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".actis.MusicSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actis.DailyMusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actis.NewMusicMallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actis.MusicListMallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actis.MusicListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actis.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actis.AnimePlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actis.MusicPlayerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actis.SearchActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actis.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IndexActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
    </application>

</manifest>